<div class="content" role="main"> </div>

<p>Welcome to app component!!!</p>
<!-- <app-hero-parent></app-hero-parent> -->
<!-- <app-ngif></app-ngif>

<app-hello-world></app-hello-world>
<app-binding></app-binding>
<router-outlet></router-outlet> -->

<!-- <app-name-parent></app-name-parent> -->

<!-- <app-voter></app-voter> -->
<!-- <app-vote-taker></app-vote-taker> -->

<!-- <app-countdown-parent-lv></app-countdown-parent-lv> -->
<!-- <app-mission-control></app-mission-control> -->
<!-- <app-hello-world></app-hello-world> -->
<!-- <app-zippy-basic>
  <p>Is content projection cool?</p> 
   <h3>This is content projection example</h3>
</app-zippy-basic> -->
<!-- <app-zippy-multislot>
  <p question>
    Is content projection cool? question
  </p>
  <p>Let's learn about content projection!</p>
</app-zippy-multislot> -->

<!-- <app-attribute></app-attribute> -->
<!-- <app-style></app-style> -->
<app-event></app-event>